.insights-container {
    padding: 72px 0;
}

.insights-more-container {
    display: flex;
    height: auto;
    transition: 0.3s;
}

.insights-notMore-container {
    height: 0;
    display: none;
    transition: 0.3s;
}

@media (max-width: 768px) {
    .insights-container {
        padding: 20px 0 40px;
    }
}

.header-insights {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

.insights-container h1 {
    color: #030712;
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 40px;
}

@media (max-width: 768px) {
    .insights-container h1 {
        font-size: 32px;
        margin-bottom: 40px;
    }
}

.insights-container span {
    margin-right: 12px;
}

.header-icon-container-insights {
    font-size: 20px;
}

.cards-container-insight {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.div-button-insights {
    display: flex;
    justify-content: end;
}

.div-button-insights a {
    text-decoration: none;
}

@media (max-width: 768px) {
    .div-button-insights a {
        width: 100%;
    }
}


.image-insight {
    border-radius: 20px;
    margin-bottom: 24px;
    width: 100%;
    height: 400px;
    background-position: center;
    background-size: cover;
}

.img-insight-1 {
    background-image: url("/public/pexels-negativespace-92904.jpg");
}

.img-insight-2 {
    background-image: url("/public/pexels-pavel-danilyuk-5496463.jpg");
}

.img-insight-3 {
    background-image: url("/public/pexels-luis-gomes-166706-546819.jpg");
}

.img-insight-4 {
    background-image: url("/public/pexels-goumbik-574077.jpg");
}

.img-insight-5 {
    background-image: url("/public/pexels-goumbik-574073.jpg");
}

.img-insight-6 {
    background-image: url("/public/pexels-cookiecutter-1148820.jpg");
}

.card-insight h1 {
    color: #030712;
    font-weight: 600;
    margin-bottom: 8px;
    font-size: 22px;
    height: 50px;
}

@media (max-width: 768px) {
    .card-insight h1 {
        height: auto;
    }
}

.card-insight h2 {
    color: #374151;
    font-weight: 400;
    font-size: 18px;
    height: 70px;
    margin-bottom: 28px;
}

@media (max-width: 768px) {
    .card-insight h2 {
        height: auto;
    }
}

.card-insight {
    margin-bottom: 40px;
    padding: 14px;
}

@media (max-width: 768px) {
    .card-insight {
        padding: 0;
    }
}