.insights-container {
    padding: 72px 0;
}

.insights-more-container {
    display: flex;
    height: auto;
    transition: 0.3s;
}

.insights-notMore-container {
    height: 0;
    display: none;
    transition: 0.3s;
}

@media (max-width: 768px) {
    .insights-container {
        padding: 20px 0 40px;
    }
}

.header-insights {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

.insights-container h1 {
    color: #030712;
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 40px;
}

@media (max-width: 768px) {
    .insights-container h1 {
        font-size: 32px;
        margin-bottom: 40px;
    }
}

.insights-container span {
    margin-right: 12px;
}

.header-icon-container-insights {
    font-size: 20px;
}

.cards-container-insight {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.div-button-insights {
    display: flex;
    justify-content: end;
}

.div-button-insights a {
    text-decoration: none;
}

@media (max-width: 768px) {
    .div-button-insights a {
        width: 100%;
    }
}