.container-nav {
    display: flex;
    justify-content: space-between;
    padding: 24px 72px;
}

@media (max-width: 768px) {
    .container-nav {
        padding: 20px;
    }
}

.navbar-fixed-top {
    position: fixed;
    width: 100%;
}

.container-nav h1 {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 26px;
}

.lets-button-nav {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 18px;
    margin-right: 12px;
}

.lets-icon-nav {
    font-size: 20px;
}

.menu-icon {
    font-size: 20px;
}

.div-nav-buttons {
    display: flex;
}

.div-nav-button {
    padding-left: 16px;
}

.active-menu {
    background: #030712;
    color: #F9FAFB;
}

.deactivate-menu {
    background: #F9FAFB;
    color: #030712;
}