.container-education {
    background: #f9fafb;
    display: flex;
    margin: 64px 0;
}

@media (max-width: 768px) {
    .container-education {
        margin: 40px 0;
    }
}

.div-title {
    padding-right: 40px;
    padding-left: 0;
}

.div-title h1 {
    color: #030712;
    font-size: 40px;
    font-weight: 600;
}

@media (max-width: 768px) {
    .div-title h1 {
        font-size: 32px;
        margin-bottom: 40px;
    }
}

.div-card-insights {
    padding: 0;
}
