.container-works {
    padding: 72px 0;
}

@media (max-width: 768px) {
    .container-works {
        padding: 40px 0;
    }
}

.header-icon-container-works {
    font-size: 20px;
}

.container-works h1 {
    color: #030712;
    font-size: 40px;
    margin-bottom: 40px;
}

@media (max-width: 768px) {
    .container-works h1 {
        color: #030712;
        font-size: 32px;
        margin-bottom: 32px;
    }
}

.div-button-works {
    display: flex;
    justify-content: end;
}

.header-works span {
    margin-right: 12px;
}

.div-cards-works {
    display: flex;
    justify-content: space-between;
    padding: 0;
}