.container-works {
    padding: 72px 0;
}

.header-icon-container-works {
    font-size: 20px;
}

.header-works {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 0;
}

.header-works h1 {
    color: #030712;
    font-size: 50px;
}

.header-works span {
    margin-right: 12px;
}

.div-cards-works {
    display: flex;
    justify-content: space-between;
}