.menu {
    background: #030712;
    padding: 0 72px;
}

.div-selector-menu {
    border-top: 1px #1f2937 solid;
    padding: 40px 0;
}

.div-contacts-menu {
    border-top: 1px #1f2937 solid;
    padding-top: 40px;
    padding-bottom: 72px;
}

.div-links-contacts {
    display: flex;
}

.link-contacts {
    color: #f9fafb;
    font-size: 18px;
    font-weight: 400;
    margin-right: 40px;
}

.link-contacts a {
    color: #f9fafb;
    text-decoration: none;
    margin-right: 12px;
    font-size: 16px;
    font-weight: 400;
}

.div-contacts-menu h3 {
    font-size: 24px;
    font-weight: 600;
    color: #6B7280;
    margin-bottom: 40px;
}