.menu {
    background: #030712;
    padding: 0 72px;
    min-height: 100vh;
}

@media (max-width: 768px) {
    .menu {
        padding: 0 20px;
    }
}

.div-selector-menu {
    border-top: 1px #1f2937 solid;
    padding: 40px 0;
}

.div-contacts-menu {
    border-top: 1px #1f2937 solid;
    padding-top: 40px;
    padding-bottom: 72px;
}

.div-links-contacts {
    display: flex;
    width: 100%;
}

.link-contacts {
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #f9fafb;
    font-size: 18px;
    font-weight: 400;
}

.link-contacts p {
    margin-bottom: 0;
    margin-right: 20px;
}

@media (max-width: 768px) {
    .link-contacts p {
        margin-right: 20px;
    }
}

@media (max-width: 768px) {
    .link-contacts {
        font-size: 16px;
        margin-bottom: 22px;
        justify-content: space-between;
    }
}

.link-contacts a {
    color: #f9fafb;
    text-decoration: none;
    margin-right: 12px;
    font-size: 16px;
    font-weight: 400;
}

.div-contacts-menu h3 {
    font-size: 24px;
    font-weight: 600;
    color: #6B7280;
    margin-bottom: 40px;
}

@media (max-width: 768px) {
    .div-contacts-menu h3 {
        font-size: 22px;
    }
}

.icon-link-contacts {
    font-size: 22px;
}